<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.MaterialGoodsMapper">
    <resultMap id="MaterialGoodsResult" type="com.gameloft9.demo.dataaccess.model.system.MaterialGoods">
         <id column="ID" property="id" jdbcType="VARCHAR"/>
         <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"/>
         <result column="Material_ID" property="materialId" />
         <result column="GOODS_PRICE" property="goodsPrice" jdbcType="VARCHAR"/>
    </resultMap>

    <!--MaterialMapper-->
    <resultMap id="MaterialResult" type="com.gameloft9.demo.dataaccess.model.system.Material">
        <id column="ID" property="Id" jdbcType="VARCHAR"/>
        <result column="GOODS_NAME" property="GoodsName" jdbcType="VARCHAR"/>
        <result column="GOODS_TYPE" property="GoodsType" />
        <result column="GOODS_DESCRIBE" property="GoodsDescribe" jdbcType="VARCHAR"/>
    </resultMap>
    <!--supplierMapper-->
    <resultMap id="SupplierResult" type="com.gameloft9.demo.dataaccess.model.system.Supplier">
        <id column="ID" property="Id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="SupplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="SupplierDescribe" />
        <result column="PHONE" property="Phone" jdbcType="VARCHAR"/>
    </resultMap>

    <!--新建bean-->
    <resultMap id="MaterialGoodsBean" type="com.gameloft9.demo.dataaccess.model.system.MaterialSupplierBean">
        <id column="ID" property="id"/>
        <result column="MATERIAL_ID" property="materialId"/>
        <result column="GOODS_NAME" property="goodsName"/>
        <result column="GOODS_DESCRIBE" property="goodsDescribe"/>
        <result column="SUPPLIER_ID" property="supplierId"/>
        <result column="SUPPLIER_NAME" property="supplierName"/>
        <result column="PHONE" property="supplierPhone"/>
        <result column="GOODS_PRICE" property="goodsPrice"/>
    </resultMap>

    <!--通过主键查询-->

    <sql id="Base_Column_List">
    ID,SUPPLIER_ID,MATERIAL_ID,GOODS_PRICE
    </sql>
    <select id="selectMaterialGoodsByPrimaryKey" resultMap="MaterialGoodsResult">
        select
           ID,SUPPLIER_ID,MATERIAL_ID,GOODS_PRICE
        from t_material_goods
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--查询所有-->
    <select id="selectByAll" resultMap="MaterialGoodsResult">
        select
         ID,SUPPLIER_ID,MATERIAL_ID,GOODS_PRICE
        from t_material_goods
    </select>

    <select id="selection" resultMap="MaterialGoodsResult">
        select
         ID,SUPPLIER_ID,MATERIAL_ID,GOODS_PRICE
        from t_material_goods
    </select>


    <!--增加-->
    <insert id="insertMaterialGoods" >
        INSERT INTO t_material_goods (ID,SUPPLIER_ID,MATERIAL_ID,GOODS_PRICE) VALUES (
        #{id},#{supplierId},#{materialId},#{goodsPrice})

    </insert>

    <!--修改-->
        <update id="updateMaterialGoods" >
            UPDATE t_material_goods SET SUPPLIER_ID=#{supplierId},MATERIAL_ID=#{materialId},
            GOODS_PRICE=#{goodsPrice} where ID=#{id}
        </update>
    <!--删除-->
    <delete id="deleteMaterialGoods" parameterType="java.lang.String">

        DELETE FROM t_material_goods WHERE ID=#{id}
    </delete>
    
    <select id="dataCount" resultType="java.lang.Integer">
        SELECT count(1) FROM t_material_goods
    </select>

    <select id="selectAll" resultMap="MaterialGoodsBean">
        select * from (t_material_goods t inner join t_material tm on t.MATERIAL_ID=tm.ID) inner
        join t_supplier ts on    t.SUPPLIER_ID=ts.ID
       <where>
        <if test="SupplierId != null and SupplierId != ''">
            and SUPPLIER_ID = #{SupplierId,jdbcType=VARCHAR}


        </if>
        <if test="MaterialId != null and MaterialId != ''">
            and MATERIAL_ID = #{MaterialId,jdbcType=VARCHAR}
        </if>
           <if test="goodsPrice != null and goodsPrice != ''">
               and GOODS_PRICE = #{goodsPrice,jdbcType=VARCHAR}
           </if>
       </where>
        order by t.ID asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

<!--    <select id="selectAll" resultMap="MaterialGoodsResult">
        select * from t_material_goods ,t_material tm,t_supplier ts
        <where>
            <if test="supplierId != null and supplierId != ''">
                and ts.ID = #{supplierId,jdbcType=VARCHAR}
            </if>
            <if test="materialId != null and materialId != ''">
                and tm.ID = #{materialId,jdbcType=VARCHAR}
            </if>
        </where>
        order by t.ID asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>-->

    <select id="GetMaterialIdMenu" resultMap="MaterialGoodsBean">

        select
         <include refid="Base_Column_List"/>
        FROM  t_material_goods
    </select>
</mapper>
