<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.ProductApplicationMapper">
    <!--结果集映射-->
    <resultMap id="ProductApplicationResultMap" type="com.gameloft9.demo.dataaccess.model.system.ProductApplication">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="PRODUCT_SIZE" property="productSize" jdbcType="VARCHAR"/>
        <result column="PRODUCT_NUMBER" property="productNumber" jdbcType="VARCHAR"/>



    </resultMap>

    <!--<sql id="Base_Column_List">

        ID, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_DESCRIBE, PRODUCT_PRICE, PRODUCT_ADDRESS
    </sql>-->

    <!--获取角色ID-->

    <select id="getById" resultMap="ProductApplicationResultMap" parameterType="java.lang.String">

        select
           ID, PRODUCT_ID, PRODUCT_TYPE, PRODUCT_SIZE, PRODUCT_NUMBER
        from Produce_application
        where ID = #{id,jdbcType=VARCHAR}

    </select>



    <!--查找所有分页模糊查询-->
    <select id="findAll" resultMap="ProductApplicationResultMap">
        select * from produce_application t
        <where>
            <if test="productId != null and productId != ''">
                and t.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
            </if>
            <if test="productType != null and productType != ''">
                and t.PRODUCT_TYPE = #{productType,jdbcType=VARCHAR}
            </if>
        </where>
        order by t.id asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
    <!--查找条数-->
    <select id="countGetAll" resultType="java.lang.Integer" parameterType="map">

        select
        count(1)
        from produce_application t
        where 1=1
            <if test="productId != null and productId != ''">
                and t.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
            </if>
            <if test="productType != null and productType != ''">
                and t.PRODUCT_TYPE = #{productType,jdbcType=VARCHAR}
            </if>
    </select>

    <!--<select id="findById"  parameterType="java.lang.Integer" resultType="com.gameloft9.demo.dataaccess.model.system.Product">
        select
       *
        from product
        where ID = #{id,jdbcType=VARCHAR}
    </select>-->

    <!--通过ID删除-->
    <delete id="deleteById" parameterType="java.lang.String">
    delete from produce_application
    where ID = #{id}
  </delete>
    <!--添加-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.ProductApplication">
        insert into produce_application (ID, PRODUCT_ID, PRODUCT_TYPE, PRODUCT_SIZE, PRODUCT_NUMBER)values (#{id},#{productId},#{productType},#{productSize},
        #{productNumber})

    </insert>
    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.ProductApplication">
      update produce_application set PRODUCT_ID=#{productId},PRODUCT_TYPE=#{productType},PRODUCT_SIZE=#{productSize},
      PRODUCT_NUMBER=#{productNumber} where ID=#{id}
  </update>

</mapper>