<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.ProductFormulaDetailMapper">
    <!--加工单结果集映射-->
    <resultMap id="ProductFormulaDetailResultMap" type="com.gameloft9.demo.dataaccess.model.system.ProductFormulaDetail">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PRODUCT_FORMULA_ID" property="productFormulaId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_NUMBER" property="materialNumber" jdbcType="VARCHAR"/>
    </resultMap>
    <!--生产配方映射-->
    <resultMap id="ProductFormulaResultMap" type="com.gameloft9.demo.dataaccess.model.system.ProductFormula">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <!--原料单映射-->
    <resultMap id="ProductResultMap" type="com.gameloft9.demo.dataaccess.model.system.Product">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="PRODUCT_DESCRIBE" property="productDescribe" jdbcType="VARCHAR"/>
        <result column="PRODUCT_PRICE" property="productPrice" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ADDRESS" property="productAddress" jdbcType="VARCHAR"/>
    </resultMap>

   <!--新映射-->
    <resultMap id="ProductBeanResultMap" type="com.gameloft9.demo.dataaccess.model.system.ProductproduceBean">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="PRODUCT_FORMULA_ID" property="productFormulaId" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="MATERIAL_NUMBER" property="materialNumber" jdbcType="VARCHAR"/>
    </resultMap>


    <!--获取加工单ID-->
    <select id="getById" resultMap="ProductBeanResultMap" parameterType="java.lang.String">

        select
           ID, MATERIAL_ID,PRODUCT_FORMULA_ID,MATERIAL_NUMBER
        from produce_formula_detail
        where ID = #{id,jdbcType=VARCHAR}

    </select>
<!---->
    <select id="findAll" resultMap="ProductBeanResultMap">


        select * from (produce_formula_detail t inner join product_formula ts on t.PRODUCT_FORMULA_ID=ts.ID) inner
        join product td on t.MATERIAL_ID=td.ID
        <where>
            <if test="productFormulaId != null and productFormulaId != ''">
                and PRODUCT_FORMULA_ID = #{productFormulaId,jdbcType=VARCHAR}

            </if>
            <if test="materialId != null and materialId != ''">
                and MATERIAL_ID = #{materialId,jdbcType=VARCHAR}
            </if>

        </where>
        order by t.ID asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>


   <!-- 查找所有分页模糊查询-->
   <!-- <select id="findAll" resultMap="ProductFormulaDetailResultMap">
        select * from produce_formula_detail t
        <where>
            <if test="productFormulaId != null and productFormulaId != ''">
                and t.PRODUCT_FORMULA_ID = #{productFormulaId,jdbcType=VARCHAR}
            </if>
            <if test="materialId != null and materialId != ''">
                and t.MATERIAL_ID = #{materialId,jdbcType=VARCHAR}
            </if>
        </where>
        order by t.id asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>-->

    <select id="dataCount" resultType="int" >

        select count(1) from produce_formula_detail
    </select>
    <!--查找总条数-->
    <select id="countGetAll" resultType="int" parameterType="map">

        select
        count(1)
        from produce_formula_detail t
        <where>
            <if test="productFormulaId != null and productFormulaId != ''">
                and t.PRODUCT_FORMULA_ID = #{productFormulaId,jdbcType=VARCHAR}
            </if>
            <if test="materialId != null and materialId != ''">
                and t.MATERIAL_ID = #{materialId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--获取生产配方ID-->
    <select id="getfirstById" resultMap="ProductBeanResultMap" parameterType="java.lang.String">

        select
           ID, MATERIAL_ID,PRODUCT_FORMULA_ID,MATERIAL_NUMBER
        from produce_formula_detail
        where PRODUCT_FORMULA_ID = #{productFormulaId,jdbcType=VARCHAR}

    </select>


    <!--通过ID删除-->
    <delete id="deleteById" parameterType="java.lang.String">
    delete from produce_formula_detail
    where ID = #{id}
  </delete>
    <!--添加-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.ProductFormulaDetail">
        insert into produce_formula_detail  (ID, PRODUCT_FORMULA_ID, MATERIAL_ID,MATERIAL_NUMBER)values (#{id},#{productFormulaId},#{materialId},#{materialNumber})

    </insert>
    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.ProductFormulaDetail">
    update produce_formula_detail set PRODUCT_FORMULA_ID=#{productFormulaId},MATERIAL_ID=#{materialId},MATERIAL_NUMBER=#{materialNumber}
     where ID=#{id}

  </update>


</mapper>